body {
  width: 80%;
  max-width: 1000px;
  margin: 3% auto;
  text-align: center;
  font-family: "Raleway";
  color: white;
  background: black;
}

h1 {
  font-size: 8.0rem;
  padding: 0;
  margin: 0;
}

h2 {
  margin-bottom: 0;
}

h3 {
  padding-bottom: 3%;
}

h3:hover {
  cursor: pointer;
}
